body{
	background: url(Drew.jpg) no-repeat 
		center center fixed;
	background-size: cover;
	font-family: 'Sen', sans-serif;
	font-family: 'Roboto Mono', monospace;
}

#home{
	width:100%;
	height:100%;
	margin: 0 auto;
	padding: 12px;
}

#Topdesigns{
	width:100%;
	height:100%;
	margin: 0 auto;
	padding: 12px;
}

article{
	width:22.65%;
	height:auto;
	display: inline-block;
	padding: 12px;
	background: rgba(255, 255, 255, 0.8);
	vertical-align: top;
}

img{
	width: 100%;
	max-width: 100%;
	border-radius: 50%;
}

.tagline{

}

h2{
	font-family: 'Sen', sans-serif;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

p{
	font-family: 'Roboto Mono', monospace;
	font-size: 24px;
	text-align: justify;
}

header {
	background: rgba(255, 255, 255, 0.8);
    width: 97.3%;
    margin: 12px;
    padding: 12px;
}

footer{

}